actionlib==1.12.0
angles==1.9.12
base-local-planner==1.16.5
beautifulsoup4==4.9.0
bs4==0.0.1
camera-calibration==1.14.0
camera-calibration-parsers==1.11.13
catkin==0.7.23
certifi==2020.4.5.1
chardet==3.0.4
cv-bridge==1.13.0
diagnostic-updater==1.9.3
dynamic-reconfigure==1.6.3
eth-web-scraping==0.1.0
feedparser==5.2.1
free-gait-action-loader==0.5.0
free-gait-python==0.5.0
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gazebo2rviz==0.3.0
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
idna==2.9
image-geometry==1.13.0
interactive-markers==1.11.4
joint-state-publisher==1.12.15
laser-geometry==1.6.4
lxml==4.5.0
message-filters==1.14.5
navigation-pose-graph-editor==0.2.0
numpy==1.18.2
pandas==1.0.3
parameterized-xacro==0.0.1
pprint==0.1
pysdf==0.2.0
python-dateutil==2.8.1
python-qt-binding==0.4.0
pytz==2019.3
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
requests==2.23.0
resource-retriever==1.12.6
rosbag==1.14.5
rosclean==1.14.8
rosgraph==1.14.5
roslaunch==1.14.5
roslib==1.14.8
roslint==0.11.2
roslz4==1.14.5
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospy==1.14.5
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rqt-action==0.4.9
rqt-anymal-lowlevel-controller==0.6.0
rqt-anymal-state-visualizer==0.6.0
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-gazebo-interface==0.6.0
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-highlevel-controlmanager==0.6.0
rqt-icp==0.5.0
rqt-image-view==0.4.14
rqt-joypad==0.6.0
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-msg==0.4.8
rqt-pharos==0.1.0
rqt-plot==0.4.9
rqt-point-cloud-odometry==0.1.0
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-runtime-monitor==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-signal-logger==0.5.0
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.7
selenium==3.141.0
sensor-msgs==1.12.7
six==1.14.0
smclib==1.8.3
soupsieve==2.0
stack-launcher==0.0.1
system-monitor==0.1.0
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.5
urllib3==1.25.9
xacro==1.13.5
